name: Create Release on PR Merge

on:
  pull_request:
    types:
      - closed

  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          # Set remote URL with ORGANIZATION_REPO_TOKEN
          git remote set-url origin https://x-access-token:${{ secrets.ORGANIZATION_REPO_TOKEN }}@github.com/${{ github.repository }}.git

      - name: Verify Git Remote
        run: git remote -v

      - name: Get PR Title or Manual Tag Input
        id: create_tag
        env:
          GITHUB_TOKEN: ${{ secrets.ORGANIZATION_REPO_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            TAG_NAME="${{ github.event.inputs.tag_name }}"
          else
            TAG_NAME=$(echo "${{ github.event.pull_request.title }}" | tr -d '[:space:]' | tr -cs '[:alnum:]' '-')
          fi

          echo "Using tag name: $TAG_NAME"

          # Create the tag
          git tag "$TAG_NAME"

          # Add verbose output for git push to debug the issue
          GIT_CURL_VERBOSE=1 git push origin "$TAG_NAME"

          # Store the tag in the environment
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ORGANIZATION_REPO_TOKEN }}
        with:
          tag_name: ${{ env.TAG_NAME }}
          release_name: "${{ env.TAG_NAME }}"
          body: |
            ${{ github.event.pull_request.body || 'Manual release' }}
          draft: false
          prerelease: false

      - name: Create spectrocoin.zip
        run: |
          mkdir spectrocoin-accepting-bitcoin  # Create the folder inside the working directory
          # Copy only the necessary files and exclude the folder and unwanted files
          find . -maxdepth 1 ! -name 'spectrocoin-accepting-bitcoin' ! -name '.' ! -name '.git' ! -name '.github' ! -name 'README.txt' ! -name 'README.md' ! -name 'changelog.md' ! -name '.gitignore' -exec cp -r {} spectrocoin-accepting-bitcoin/ \;
          zip -r spectrocoin.zip spectrocoin-accepting-bitcoin  # Zip the folder
        shell: bash

      - name: Upload spectrocoin.zip as release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ORGANIZATION_REPO_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: spectrocoin.zip
          asset_name: spectrocoin.zip
          asset_content_type: application/zip
